* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  background: transparent;
  font-family: inherit;
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
img {
  border: none;
}

button,
a {
  cursor: pointer;
  color: inherit;
}

textarea {
  resize: none;
}

button,
input,
textarea,
select {
  appearance: none !important;
  -webkit-appearance: none !important; /* safari, opera, chrome miatt */
  border-radius: 0;
}

/* CSS reset */

/*
regular 400;
bold 700;
*/

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap");
/* font-family: 'Overpass', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

:root {
  --primary: #f8f7f3;
  --secondary: #1a24fb;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: var(--primary);
}

header {
  width: 100%;
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--secondary);

  color: var(--primary);

  h1 {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
  }

  .menu-icon {
    font-size: 24px;
  }
}

.flexbox-container {
  max-width: 1280px;
  margin: 150px 40px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 100px 20px;
}

.book-cards {
  width: 370px;
  height: 415px;
  padding: 40px;
  position: relative;

  border: 1.5px solid var(--secondary);
}

.index {
  width: 40px;
  height: 40px;

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 700;
  color: var(--secondary);
}

.content {
  font-weight: 400;
  color: var(--secondary);

  .sub {
    margin-bottom: 10px;
    font-size: 12px;
    letter-spacing: 0.2em;
  }

  .title {
    min-height: 120px;
    font-size: 36px;
    font-weight: 700;
  }

  .text {
    font-size: 16px;
    font-family: "Overpass", sans-serif;
  }
}

button {
  width: 100%;
  height: 18px;

  position: absolute;
  bottom: -32px;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  color: var(--secondary);

  .arrow-icon {
    font-size: 18px;
  }
}

button:hover {
  background-color: var(--secondary);
  color: var(--primary);
}
